<!DOCTYPE html>
<html>
<head>
  <title>Airpair</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'mcz' %>
  <%= stylesheet_link_tag 'jFormer' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jFormer' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
